/* General CSS Settings */
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100vh;
}

/* Header Settings */

/* Body Settings */

.qr-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    margin: 0;
    max-width: 450px;
}

.qr-image {
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
    margin: 0px 25px;
}

.qr-img {
    max-width: 400px;
    height: auto;
    border-radius: 25px;
    margin-top: 30px;
}

.qr-text {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 30px;
}

.qr-text p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

/* Footer Settings */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer a {
    text-decoration: none;
    padding: 0 2px;
}