@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* General CSS Settings */
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

/* Header Settings */

/* Body Settings */

.qr-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    max-width: 300px;
}

.qr-image {
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
    padding: 15px;
}

.qr-img {
    width: 100%;
    border-radius: 25px;
}

.qr-text {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    text-align: center;
    padding-bottom: 25px;
}

.qr-text h1 {
    font-size: 20px;
}

.qr-text p {
    color: hsl(220, 15%, 55%);
}

/* Footer Settings */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer a {
    text-decoration: none;
    padding: 0 2px;
}